

.container{background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(./images/weatherimg.jpg);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: slategrey;
    columns: auto;
    background-position: center;
    background-size: cover;
    height: 100vh;
    border: wheat;

}