* {margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  }

  header {background: rgb(195, 215, 252);

  }

.App {
  background-color: transparent;
 
}
.container{
  background-image: url(./components/images/weatherimg.jpg);
  background-color: blue;
  color: black;
  text-align: center;
  columns: auto;}

  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 35rem;
    /* margin-top: 8rem; */
  }

  /* @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    } */

  .section-center {
    background:white;
    color:black;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 2rem;
  }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


